body {
  margin: 0;
  font-family: open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color:#FFFFFFD9;
}

code {
  font-family:open Sans;
  
}

